body {
  font-family: "Roboto", sans-serif;
  color: #78829b;
  margin-top: 30px;
}

h1 {
  font-size: 25px;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 0;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.card {
  width: 600px;
  background: linear-gradient(
    181.2deg,
    rgb(223, 249, 253) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  margin: 0 auto;
  border: 1px solid rgb(254, 254, 254) 86.8%;
  border-radius: 8px;
}

.location-form,
.search-button,
.current-button {
  font-size: 13px;
  padding: 4px 20px;
  background: white;
  border: 2px solid #818183;
  border-radius: 3px;
  color: #5a6275;
  transition: all 150ms ease-in-out;
  border: 2px solid #1ab5ed;
}

.search-bar {
  margin-left: 15px;
}

.search-button,
.current-button {
  background: #1ab5ed;
  color: white;
}

.search-button:hover,
.current-button:hover {
  border: 2px solid #1ab5ed;
  background: white;
  color: #1ab5ed;
}

.location-form:hover {
  cursor: text;
}

.row {
  max-width: 100%;
}

.main-weather-icon {
  width: 80px;
}

.weather-temperature {
  display: inline-block;
  position: relative;
  top: 10px;
}

#current-temperature {
  font-size: 40px;
}

#measuring-unit {
  font-size: 15px;
  font-weight: 700;
  position: relative;
  bottom: 18px;
}

#weather-description {
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
}

#weather-description:first-letter {
  text-transform: capitalize;
}

#last-update {
  margin-top: 0;
  font-size: 13px;
  margin-left: 15px;
}

.weather-elements {
  margin-top: 25px;
  font-size: 14px;
  list-style: none;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
}

.forecast-days {
  font-size: 15px;
  font-weight: bold;
}

.forecast-temperatures {
  font-size: 13px;
  font-weight: bold;
}

.min-temperature {
  opacity: 0.7;
}

.coder {
  font-size: 13px;
  width: 600px;
  margin: 0 auto;
}
