body {
  margin: 50px 500px;
  font-family: "Roboto", sans-serif;
  color: #78829b;
}

h1 {
  font-size: 25px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 0;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.card {
  width: 600px;
  background: linear-gradient(
    181.2deg,
    rgb(223, 249, 253) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
}

.location-form,
.search-button,
.current-button {
  font-size: 13px;
  padding: 4px 20px;
  background: white;
  border: 2px solid #818183;
  border-radius: 3px;
  color: #5a6275;
  transition: all 150ms ease-in-out;
  border: 2px solid #1ab5ed;
  position: relative;
}

.search-bar {
  margin-left: 30px;
}

.search-button,
.current-button {
  background: #1ab5ed;
  color: white;
}

.search-button:hover,
.current-button:hover {
  border: 2px solid #1ab5ed;
  background: white;
  color: #1ab5ed;
}

.location-form:hover {
  cursor: text;
}

.row {
  max-width: 100%;
}

#date {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.main-weather-icon {
  width: 80px;
  margin-left: 18px;
}

.weather-temperature {
  display: inline-block;
  position: relative;
  top: 10px;
}

.weather-temperature .active {
  color: #78829b;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#current-temperature {
  font-size: 40px;
}

#measuring-units {
  font-size: 15px;
  font-weight: 700;
  position: relative;
  bottom: 18px;
}

#weather-description {
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
}

#weather-description::first-letter {
  text-transform: capitalize;
}

#last-update {
  margin-top: 0;
  font-size: 13px;
  margin-left: 30px;
}

.weather-elements {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 14px;
  list-style: none;
  margin-left: 30px;
}

.week-days {
  margin-left: 30px;
  margin-top: 40px;
  font-size: 17px;
  font-weight: bold;
}

.icons {
  margin-left: 30px;
}

.forcast-icon {
  width: 35px;
}

.forcast-temperatures {
  margin-left: 30px;
  font-size: 13px;
  font-weight: bold;
}

.lower-temperature {
  color: #9fa8bd;
  margin-left: 5px;
}

.coder {
  font-size: 13px;
  width: 700px;
}
