body {
  margin: 50px 400px;
  font-family: "Roboto", sans-serif;
  color: #78829b;
}

h1 {
  font-size: 25px;
  margin-top: 20px;
  margin-left: 60px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.card {
  width: 700px;
  background: linear-gradient(
    181.2deg,
    rgb(223, 249, 253) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
}

.location-form,
.search-button,
.current-button {
  font-size: 13px;
  padding: 4px 20px;
  background: white;
  border: 2px solid #818183;
  border-radius: 3px;
  color: #5a6275;
  transition: all 150ms ease-in-out;
  border: 2px solid #1ab5ed;
  position: relative;
}

.location-form {
  margin-left: 92px;
  left: 20px;
}

.location-form:hover {
  cursor: text;
}

.search-button {
  background: #1ab5ed;
  color: white;
}

.current-button {
  background: #1ab5ed;
  color: white;
  right: 20px;
}

.search-button:hover,
.current-button:hover {
  border: 2px solid #1ab5ed;
  background: white;
  color: #1ab5ed;
}

.row {
  max-width: 100%;
}

#date {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.main-weather-icon {
  width: 80px;
  margin-left: 50px;
}

.current-temperature {
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  line-height: 85px;
  padding: 0;
}

.measuring-units {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  line-height: 65px;
  position: relative;
  right: 67px;
}

#weather-description {
  margin-left: 115px;
  margin-bottom: 0;
  font-size: 16px;
}

#last-update {
  margin-top: 0;
  font-size: 13px;
  margin-left: 88px;
}

.weather-elements {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 14px;
  list-style: none;
  margin-left: 30px;
}

.week-days {
  margin-left: 55px;
  margin-top: 40px;
  font-size: 17px;
  font-weight: bold;
}

.icons {
  margin-left: 50px;
}

.forcast-icon {
  width: 35px;
}

.forcast-temperatures {
  margin-left: 53px;
  font-size: 13px;
  font-weight: bold;
}

.lower-temperature {
  color: #8f9bb6;
  margin-left: 5px;
}

.coder {
  font-size: 13px;
}
